{% extends 'git/base.html' %}

{% block content %}
    <div class="bg-gray-light">
        <div class="container-lg p-responsive pb-6">
            <div class="gutter-sm d-flex flex-wrap flex-items-stretch pb-md-6">
                <form method="POST" class="mc-field-group col-12">{% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" value="Submit change">
                    <br><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
