{% extends 'git/base.html' %}

{% block content %}
<div class="bg-gray-light">

  <header class="py-4 py-md-6">
    <div class="container-lg p-responsive mx-auto text-center pt-6">
      <h1 class="alt-h1">Open Source Guides</h1>
      <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto">
        Open source software is made by people just like you. Learn how to launch and grow your project.
      </p>
      <p class="alt-lead" id="opensourcefriday" style="display:none">
        It's Friday! Invest a few hours contributing to the software you use and love:
        <a href="https://opensourcefriday.com">opensourcefriday.com</a>
      </p>
    </div>
  </header>

  <div class="container-lg p-responsive pb-6">
    <div class="gutter-sm d-flex flex-wrap flex-items-stretch pb-md-6">

        {% block content_posts %}
        {% endblock %}

    </div>

    {% include 'git/paginator.html' %}

  </div>

</div>
{% endblock %}
