{% extends 'git/base.html' %}

{% block content %}
    <div class="bg-gray-light">
        <article class="pb-md-6">
            <div class="article-body mx-auto px-3 pt-4 pt-lg-6 pb-6 col-md-10 col-lg-8 col-xl-6">
                <aside class="pquote" style="background-color:#ffffff">
                    <p class="user-mention">{{ user|title }}{% if user.is_staff %} <i><font color="#ff5700">(Staff)</font></i>{% endif %}</p>
                    <p><img src="{{ user.profile.img }}" class="pquote-avatar" alt="avatar">
                        <em style="font-size: 12px">Joined {{ user.date_joined }} | last login {{ user.last_login }}</em>
                    </p>
                    <p style="margin-top:30px">{{ user.profile.description|linebreaksbr }}</p>
                </aside>
                {% if user == request.user %}
                    <br>
                    <p><a href="{% url 'accounts:password_change' %}">Change password</a></p>
                    <p><a href="{% url 'user_edit' %}">Change description or avatar</a></p>
                    <p><a href="{% url 'user_change_email' %}">Change email</a></p>
                    <p><a href="{% url 'accounts:logout' %}">Log out</a></p>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}
