{% load staticfiles %}
<html lang="ru">
	<head>
		<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if post %}
		<title>{{ post.name }}</title>
        <meta name="robots" content="index,follow" />
        <meta name="keywords" content="{{ post.tags }}" />
        <meta name="Description" content="{{ post.text_small }}" />
        <meta name="author" content="{{ post.author }}" />
		{% else %}
		<title>Local host</title>
        {% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
         <script type="text/javascript">
			var $ = jQuery.noConflict();
				$(function() {
					$('#activator').click(function(){
						$('#box').animate({'top':'0px'},500);
					});
					$('#boxclose').click(function(){
					$('#box').animate({'top':'-700px'},500);
					});
				});
				$(document).ready(function(){
				$(".toggle_container").hide();
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false;
				});

			});
		</script>

	</head>
	<body>

	{% include 'engine/header.html' %}
    {% block content %}
    {% endblock %}
	{% include 'engine/footer.html' %}

	<script src="{% static 'js/jquery.imagesloaded.js' %}"></script>
	<script src="{% static 'js/jquery.wookmark.js' %}"></script>
	<script type="text/javascript">
		    (function ($){
		      var $tiles = $('#tiles'),
		          $handler = $('li', $tiles),
		          $main = $('#main'),
		          $window = $(window),
		          $document = $(document),
		          options = {
		            autoResize: true, // This will auto-update the layout when the browser window is resized.
		            container: $main, // Optional, used for some extra CSS styling
		            offset: 20, // Optional, the distance between grid items
		            itemWidth:280 // Optional, the width of a grid item
		          };
		      function applyLayout() {
		        $tiles.imagesLoaded(function() {
		          if ($handler.wookmarkInstance) {
		            $handler.wookmarkInstance.clear();
		          }
		          $handler = $('li', $tiles);
		          $handler.wookmark(options);
		        });
		      }
		      applyLayout();
		    })(jQuery);
    </script>
	</body>
</html>
