{% extends "engine/home.html" %}

{% block content %}
    <div id="main" role="main">
        <ul id="tiles">
            {% for feedback in feedback_list %}
                <p>
                    <a href="{% url "feedback_detail" feedback.pk %}">
                        {{ feedback.date|date:"M d G:i" }} {{ feedback.subject }}
                    </a>
                    {% if feedback.status == True%} --- was viewed{% endif %}
                </p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
