{% block logs %}
    {% for log in logs %}
        <p {% if log.author == "admin" %} style="color:#00ad7a"{% endif %}>
            <a href="{% url "logs_detail" log.pk %}">
                [{{ log.date|date:"G:i:s" }}]
                <a onclick="document.location='?filter=author&author={{ log.author }}'">{{ log.author }}</a>
                (<a onclick="document.location='?filter=ip&ip={{ log.ip }}'">{{ log.ip }}</a>)
                {{ log.method }}
                <a onclick="document.location='?filter=path&path={{ log.path }}'">to "{{ log.path }}"</a>
                {% if log.data %}
                    <a onclick="document.location='?filter=data&data={{ log.data }}'">data: {{ log.data }}</a>
                {% endif %}
            </a>
        </p>
    {% endfor %}
{% endblock %}
