{% extends 'engine/base.html' %}

{% block content %}
    <div class="single-page">
        <div class="single-page-artical">
            <div class="artical-content">
                <img src="{{ post.img_big }}" title="{{ post.name }}" width="100%" height="70%">
                <h3><a href="{% url 'post_detail' name=post.url %}">{{ post.name|truncatechars:64 }}</a></h3>
                <p>{{ text_big|safe }}</p>
            </div>
            <div class="share-artical">
                <ul>
                    <li><a href="{% url 'user_detail' username=post.author %}">Added {{ post.author }}</a></li>
					<li><a href="">Read {{ read_time }} minutes</a></li>
					<li><a href="">{{ post.views }} views</a></li>
					<li><a href="{% url 'post_edit' pk=post.pk %}">{{ post.created_date }}</a></li>
                </ul>
            </div>
			<div class="clear"> </div>
        </div>

        <div class="comment-section">
    		<div class="grids_of_2">
        		<div class="grid1_of_2 left">
           			<h2>Comments</h2>
                    {% if request.user.is_authenticated %}
                        {% if subscribe %}
                            <a href="" onclick="unsubscribe_from_post('{{ post.pk }}');return false" id="subscribe">
                                Unsubscribe from updates
                            </a>
                        {% else %}
                            <a href="" onclick="subscribe_on_post('{{ post.pk }}');return false" id="subscribe">
                                Subscribe on updates
                            </a>
                        {% endif %}
           			{% endif %}
           			{% if user.is_authenticated %}
           			<div class="artical-commentbox">
	               		<div class="table-form">
							{% if post.comments_mode %}
	                   		<form id="form-comment" method="POST" name="post_comment" onsubmit="AjaxAddComment()" action="javascript:void(null);">{% csrf_token %}
                                   <textarea id="id_text" class="form-control" placeholder="Input your comment and press ENTER" name="text" style="width:87%;height:50px"></textarea>
	                   		</form>
							{% endif %}
	               		</div>
	               		<div class="clear"> </div>
	           		</div>
	           		{% else %}
	           		<br><a href="{% url 'accounts:login' %}?next=/article/{{ post.url }}">Please login to add a comment</a><br><br>
	           		{% endif %}
					<div id="comments"></div>
	       		</div>
	    	</div>
		</div>
    </div>

    <script type="text/javascript">
        function updateComments() {
            $.ajax({
                url: "{% url 'comments' post.pk %}",
                success: function(html){
                    $("#comments").html(html);
                }
            });
        }
        {% if post.comments_mode %}
        function AjaxAddComment() {
            var textComment = $('#form-comment').serialize();
            $.ajax({
                url: "{% url 'add_comment' post.pk %}",
                type: 'POST',
                data: textComment,
                success: function(){
                    updateComments();
                }
            });
            $("#id_text").val('');
            $("#id_text").blur();
        }
        {% endif %}
        $(document).ready(function(){
            updateComments();
            {% if post.comments_mode %}
            setInterval('updateComments()', 10000);
            $("#id_text").keypress(function(e){
                if(e.keyCode==13){
                    $("#form-comment").submit();
                }
            });
            {% endif %}
        });
</script>
{% endblock %}
