{% extends 'engine/base.html' %}

{% block content %}
    <div id="main" role="main">
        <div class="table-form">
            <form action="" method="post">
                {% csrf_token %}
                <p>The following objects as well as their related objects will be deleted. Are you sure?</p>
                <br>
                <ul>
                    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
                </ul>
                <br>
                <input type="submit" class="btn btn-primary" value="Confirm deletion" name="confirm_delete" />
                <input type="submit" class="btn btn-primary" value="Cancel" name="cancel"/>
            </form>
        </div>
    </div>
{% endblock %}
