{% extends query|yesno:"engine/search.html,engine/home.html" %}

{% block content_posts %}
    <ul id="tiles">
        {% for post in posts %}
            <li onclick="location.href='{% url 'post_detail' name=post.url %}';">
                {% if post.img_small %}<img src="{{ post.img_small }}" width="100%">{% endif %}
                <div class="post-info">
                    <div class="post-basic-info">
                        <h3><a href="{% url 'post_detail' name=post.url %}">{{ post.name|truncatechars:64|title }}</a></h3>
                        <span><a href="{% url 'post_detail' name=post.url %}"><label> </label>{{ post.published_date|timesince }} ago</a></span>
                        <p>{{ post.text_small|truncatechars:280 }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
