{% extends 'engine/base.html' %}

{% block content %}
    <div id="main" role="main">
        <div class="row">
            <div class="feature-box">
                <div class="story-teaser_banner">
                    <div class="story-teaser_image">
                        <img src="https://pp.userapi.com/c840528/v840528370/398ff/roakpMjUfoo.jpg" style="width:47%;height:246px">
                    </div>
                    <div class="story-details story-teaser_text">
                        <h3 class="heading-standard"><a href="{% url 'user_profile' username=user %}">{{ user }}{% if user.is_staff %} <i><font color="#ff5700">(Staff)</font></i>{% endif %}</a></h3>
                        <em class="story-detail_subtitle">Joined {{ user.date_joined }} | last login {{ user.last_login }}</em>
                        <p>You can contact with me in mail. My mail you can see in down</p>
                        <p>Contact - {{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
