{% extends 'engine/base.html' %}

{% block content %}
<div class="page-image page-image_large pattern_light" style="background: url('http://holocaust.pw/img/back_grey.jpg') 0 0 no-repeat;background-size: cover;background-position: center;"></div>
<div class="page-content page-content_small">
    <div class="row-view">
        <div class="page-layout_one-col">
            <div class="primary-content" style="text-align:justify">
                <h1 class="heading-page type-centered">О нашем сайте</h1>
                <p class="page-introduction">Наш сайт был создан для публикации статтей о <a href="/history">холокосте</a>.</p>
                <p class="page-introduction">В это число входят статьи о концентрационных лагерях,<br>"Праведников мира", нацистских преступниках, расстрелах и погромах среди еврейского населения.</p>
                <p class="page-introduction">Мы называем себя архивом, который поможет людям найти необходимую информацию, а также поможет исследовать холокост.</p>
                <p class="page-introduction">Мы осуждаем убийства еврейского населения 39-41 годов, а также не хотим, чтобы это повторилось в будущем.</p>
                <p class="heading-date type-centered"><em>27.10.2016</em></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}