{% extends 'engine/base.html' %}

{% block content %}
<div class="page-image page-image_large pattern_light" style="background: url('http://holocaust.pw/img/back_grey.jpg') 0 0 no-repeat;background-size: cover;background-position: center;"></div>
<div class="page-content page-content_small">
    <div class="row-view">
        <div class="page-layout_one-col">
            <div class="primary-content">
                <h1 class="heading-page">История Холокоста</h1>
                <p class="page-introduction"><b>Холокост</b> (holocaust) — преследование и массовое уничтожение нацистами представителей различных этнических и социальных групп (военнопленных, поляков, евреев, цыган, инвалидов, ...) в период существования нацистской Германии.</p>
                <p>Последствия холокоста вылились в истреблении нации, приведшие к уничтожению 60% евреев Европы и около трети еврейского населения мира, уничтожение трети цыганского народа, уничтожение до 10% поляков, уничтожение около 3 миллионов советских военнопленных.</p>
                <h4 class="heading-standard type-centered">Выжнейшие события Холокоста</h4>
                <div class="balance-sheet_container">
                    <table class="balance-sheet_table">
                        <tbody>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Закон о чрезвычайных полномочиях устанавливает в Германии диктатуру национал-социалистов</td>
                            <td class="balance-sheet_value">23 марта 1933 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Принятие антиеврейских Нюрнбергских законов</td>
                            <td class="balance-sheet_value">15 сентября 1935 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name"> Хрустальная ночь, массовые антиеврейские погромы по всей Германии</td>
                            <td class="balance-sheet_value">9 ноября 1938 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Закладка концлагеря в Освенциме</td>
                            <td class="balance-sheet_value">20 мая 1940 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Начало массовой депортации евреев Западной и Центральной Европы в лагеря смерти</td>
                            <td class="balance-sheet_value">Весна 1942 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Восстание в Варшавском гетто</td>
                            <td class="balance-sheet_value">19 апреля 1943 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name">Советская армия освобождает Освенцим</td>
                            <td class="balance-sheet_value">27 января 1945 года</td>
                        </tr>
                        <tr class="balance-sheet_item">
                            <td class="balance-sheet_name"></td>
                            <td class="balance-sheet_value">_______________</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div style="text-align:justify">
                    <div class="fancy-rule"></div>
                    <div class="history-fact one-four-col">
                        <div class="col col-one">
                            <div class="col-content">
                                <img src="http://holocaust.pw/images/p_hist_1.jpg" class="history-img" alt="Холокост: статистика">
                            </div>
                        </div>
                        <div class="col col-four">
                            <div class="history-body">
                                <p class="history-headline heading-large">Статистика</p>
                                <p class="history-text">По данным приговоров Нюрнбергского трибунала, жертвами Холокоста стали 6 миллионов евреев. Для использования рабского труда, изоляции, наказания и уничтожения евреев и других групп населения, считавшихся «неполноценными», нацисты создали около 7 000 лагерей и гетто. В 2000-х годах исследователи Мемориального музея Холокоста в Вашингтоне оценили их количество уже в 20 000. По последним данным того же музея, на территории Европы существовало более 42 500 подобных учреждений.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fancy-rule"></div>
                    <div class="history-fact one-four-col">
                        <div class="col col-one"><img src="http://holocaust.pw/images/p_hist_2.jpg" class="history-img" alt="Холокост: гетто"></div>
                        <div class="col col-four">
                            <div class="history-body">
                                <p class="history-headline heading-large">Гетто</p>
                                <p class="history-text">В крупных городах (намного реже — в небольших городах) создавались еврейские гетто, куда сгонялось всё еврейское население города и окрестностей. Крупнейшее гетто было создано в Варшаве, в нём содержалось до 480 тысяч человек.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fancy-rule"></div>
                    <div class="history-fact one-four-col">
                        <div class="col col-one"><img src="http://holocaust.pw/images/p_hist_3.jpg" class="history-img" alt="Холокост: помощь евреям"></div>
                        <div class="col col-four">
                            <div class="history-body">
                                <p class="history-headline heading-large">Помощь евреям</p>
                                <p class="history-text">Десятки тысяч человек принимали участие в спасении евреев в оккупированных странах, несмотря на то, что нацисты угрожали смертью за любую помощь евреям. По состоянию на 1 января 2010 года по данным института Яд ва-Шем установлено 23 226 спасителей, которым присвоено почетное звание «Праведник мира».  «Праведник мира» - почётное звание, присваиваемое Израильским институтом катастрофы и героизма национального мемориала Катастрофы (Холокоста) и Героизма «Яд ва-Шем».</p>
                            </div>
                        </div>
                    </div>
                    <div class="fancy-rule"></div>
                    <div class="history-fact one-four-col">
                        <div class="col col-one"><img src="http://holocaust.pw/images/p_hist_4.jpg" class="history-img" alt="Холокост: сопротивление"></div>
                        <div class="col col-four">
                            <div class="history-body">
                                <p class="history-headline heading-large">Сопротивление</p>
                                <p class="history-text">После того, как стало понятно, что сделают с жителями гетто, в лагерях и гетто начались восстания: наиболее известны восстание в Варшавском гетто в январе 1943 года, а также восстание в лагере уничтожения «Собибор» — единственное успешное восстание в концлагере за всю историю Второй мировой войны. Активным центром сопротивления было Минское гетто.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fancy-rule"></div>
                    <div class="history-fact one-four-col">
                        <div class="col col-one"><img src="http://holocaust.pw/images/p_hist_5.jpg" class="history-img" alt="Холокост: расстрелы"></div>
                        <div class="col col-four">
                            <div class="history-body">
                                <p class="history-headline heading-large">Расстрелы</p>
                                <p class="history-text">Еврейское население СССР уничтожалось, как правило, непосредственно в местах его проживания т. н. айнзатцгруппами (нем. Einsatzgruppen) СС, а также украинскими и прибалтийскими коллаборационистами. Уничтожением евреев в оккупированной Одесской области занимались румынские войска. По всей Прибалтике, Украине, Белоруссии, почти возле каждого небольшого города, возле многих деревень, находились т. н. «ямы» — естественные овраги, куда сгоняли и расстреливали мужчин, женщин, детей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fancy-rule"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}