{% extends 'engine/base.html' %}

{% block content %}
    <div id="main" role="main">
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <h2>Sign up</h2>
            <div class="table-form">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <br>
                    <input type="submit" value="SIGN UP" />
                    <br>
                    <p>Already have an account? Then please <a href="{% url 'accounts:login' %}">SIGN IN.</a></p>
                    <br><br><br>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
