{% extends 'engine/base.html' %}

{% block content %}
    <div id="main" role="main">
        <h1>Login</h1>
        <div class="table-form">
            <form method="POST" class="auth-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>

        <a href="{% url 'accounts:register' %}">Create account</a>

        {% if message == 1 %}<br><br><center>message 1</center><br><br>{% endif %}
        {% if message == 2 %}<br><br><center>message 2</center><br><br>{% endif %}
    </div>
{% endblock %}
