{% load staticfiles %}
<html lang="ru">
	<head>
        <meta charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if post %}
		<title>{{ post.name }}</title>
        <meta name="robots" content="index,follow" />
        <meta name="keywords" content="{{ post.tags }}" />
        <meta name="Description" content="{{ post.text_small }}" />
        <meta name="author" content="{{ post.author }}" />
		{% else %}
		<title>Local host</title>
        {% endif %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
		<link rel=stylesheet href="http://airbnb.io/css/normalize/normalize-3.0.2.css">
        <link rel=stylesheet href="http://airbnb.io/css/o2.min.css">
        <link rel=stylesheet href="http://airbnb.io/css/styles.css">
	</head>
<body>
<div class='page-container-full bg-medium'>
    {% include 'air/header.html' %}

    {% block content %}
    {% endblock %}

    <div class='clearfix space-top-8 h400 open-city'></div>
    <div id="footer" class="panel-body dot-rausch">
        {% include 'air/footer.html' %}
    </div>

</div>
<script src="http://airbnb.io/js/o2.min.js"></script>
</body>
</html>
