{% block content %}
<footer class="page-container-responsive">
    <div class="row row-condensed">
      <div class="col-md-2 col-offset-3 hide-sm">
        <h2 class="h5">Company</h2>
        <ul class="list-layout">
          <li><a href="" class="link-contrast">About</a></li>
          <li><a href="" class="link-contrast">Careers</a></li>
          <li><a href="" class="link-contrast">Press</a></li>
          <li><a href="" class="link-contrast">Blog</a></li>
        </ul>
      </div>

      <div class="col-md-2 hide-sm">
        <h2 class="h5">Events</h2>
        <ul class="list-layout">
          <li><a href="/events/tech-talks/" class="link-contrast">Tech Talks</a></li>
          <li><a href="/events/taking-flight/" class="link-contrast">Taking Flight</a></li>
          <li><a href="/events/open-air/" class="link-contrast">Open Air</a></li>
        </ul>
      </div>

      <div class="col-md-2 hide-sm">
        <h2 class="h5">Discover</h2>
        <ul class="list-layout">
          <li><a href="" class="link-contrast">Nerds Blog</a></li>
          <li><a href="" class="link-contrast">Github</a></li>
          <li><a href="" class="link-contrast">Twitter</a></li>
          <li><a href="" class="link-contrast">Facebook</a></li>
          <li><a href="" class="link-contrast">Google+</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 space-4 space-top-4 show-sm">
      <ul class="list-layout list-inline text-center h5">
        <li><a href="" class="link-contrast">About</a></li>
        <li><a href="" class="link-contrast">Careers</a></li>
        <li><a href="" class="link-contrast">Nerds Blog</a></li>
      </ul>
    </div>

    <div class="text-center space-4 space-top-8">
      <div class="space-top-2 icon-kazan">
        © lol, Inc.
      </div>
    </div>

  </footer>
{% endblock %}
