{% block content %}
    <div class='header row hide-sm'>
  <div class='col-sm-12'>
    <a href='/'>
      <i class='icon icon-airbnb icon-size-2 icon-rausch'></i>
    </a>

    <ul class='nav pull-right logged-out list-unstyled'>
      <li class='pull-left mr20'>
        <a href='/projects' class='link-reset'>
          Projects
        </a>
      </li>
      <li class='pull-left mr20'>
        <a href='/events/tech-talks' class='link-reset'>
          Events
        </a>
      </li>
      <li class='pull-left mr20'>
        <a href='' class='link-reset'>
          Blog
        </a>
      </li>
      <li class='pull-left mr20'>
        <a href='' class='link-reset'>
          Github
        </a>
      </li>
      <li class='pull-left'>
        <a href=''>
          We're Hiring!
        </a>
      </li>
    </ul>
  </div>
</div>
    {% endblock %}
